/* Classe utilitaire pour ajouter facilement la border-radius standard */
.border-radius {
  border-radius: 30px 30px 10px 10px !important;
  overflow: hidden;
}

/* Classe utilitaire pour images et vidéos avec border-radius */
.border-radius img,
.border-radius video {
  border-radius: 30px 30px 10px 10px;
}
