<!-- wp:cover {"useFeaturedImage":true,"dimRatio":50,"overlayColor":"grey/dark","isUserOverlayColor":true,"isDark":false,"tagName":"section","style":{"spacing":{"padding":{"top":"20px","bottom":"100px"}}},"layout":{"type":"constrained"}} -->
<section
  class="wp-block-cover is-light"
  style="padding-top: 20px; padding-bottom: 100px"
>
  <span
    aria-hidden="true"
    class="wp-block-cover__background has-grey-dark-background-color has-background-dim"
  ></span>
  <div class="wp-block-cover__inner-container">
    <!-- wp:template-part {"slug":"header","theme":"la-maison-sur-la-sorgue","area":"header"} /-->

    <!-- wp:columns -->
    <div class="wp-block-columns">
      <!-- wp:column {"width":"25%"} -->
      <div class="wp-block-column" style="flex-basis: 25%"></div>
      <!-- /wp:column -->

      <!-- wp:column {"width":"980px","style":{"spacing":{"blockGap":"40px","padding":{"top":"100px","bottom":"50px"}}},"layout":{"type":"constrained"}} -->
      <div
        class="wp-block-column"
        style="padding-top: 100px; padding-bottom: 50px; flex-basis: 980px"
      >
        <!-- wp:post-title {"textAlign":"center","level":1,"style":{"elements":{"link":{"color":{"text":"var:preset|color|yellow/light"}}}},"textColor":"yellow/light"} /-->
      </div>
      <!-- /wp:column -->

      <!-- wp:column {"width":"25%"} -->
      <div class="wp-block-column" style="flex-basis: 25%"></div>
      <!-- /wp:column -->
    </div>
    <!-- /wp:columns -->
  </div>
</section>
<!-- /wp:cover -->

<!-- wp:group {"tagName":"main","metadata":{"name":"Main"},"className":"alignfull","style":{"typography":{"fontSize":"16px"}},"layout":{"type":"default"}} -->
<main class="wp-block-group alignfull" style="font-size: 16px">
  <!-- wp:post-content {"style":{"typography":{"lineHeight":1.6000000000000001}},"fontSize":"medium","layout":{"type":"constrained","contentSize":"1128px"}} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"la-maison-sur-la-sorgue","area":"footer"} /-->
