.wp-block-create-block-service-card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;

	&.align-left {
		align-items: flex-start;
		text-align: left;
	}

	&.align-right {
		align-items: flex-end;
		text-align: right;
	}

	p {
		margin: 0;
	}
}

.components-panel__body {
	.icon-grid {
		display: flex;
		flex-wrap: wrap;
		gap: 10px;
		justify-content: flex-start;

		.icon-item {
			cursor: pointer;
			padding: 5px 5px 1px;
			border-radius: 4px;
			transition: background-color 0.2s;

			&.selected {
				background-color: #f0f0f0;
			}

			&:hover {
				background-color: #e0e0e0;
			}
		}
		.icon-item.selected {
			background-color: #e0e0e0;
		}
	}
}
